{% comment %}
------------------------------------------------------------------------------
  Section: Featured collection
  - This the main section that you should be working on
  - Main styling is done in /styles/sections/feat-collection.scss
------------------------------------------------------------------------------
{% endcomment %}

<section
  class="feat-collection"
  data-section-id="{{ section.id }}"
  data-section-type="featured-collection"
>
  {%- assign collection = collections[section.settings.collection] -%}

  <div class="feat-collection__info-container">
    <h1 class="feat-collection__title">{{ collection.title | escape }}</h1>

    <p class="feat-collection__description">
      {{ collection.description }}
    </p>
  </div>

  <div
    class="feat-collection__carousel product-carousel"
    data-flickity='{"groupCells": true, "contain": true}'
    >
    {% for product in collection.products limit: 6 %}
      {% assign current_variant = product.selected_or_first_available_variant %}

      <figure class="product-carousel__item">
        <div class="product-carousel__image-container">
          <a href="{{ product.url | within: collection }}">
            {% if product.featured_image != blank %}
              {% include 'responsive-image' with
                image: product.featured_image,
                max_width: 1024,
                max_height: 1024,
              %}

              {% include 'responsive-image' with
                image: product.images.last,
                max_width: 1024,
                max_height: 1024,
                wrapper_class: 'product-carousel__image-secondary'
              %}

            {% else %}
              <img src="https://via.placeholder.com/300x471" />
            {% endif %}
          </a>

          <button
            class="product-carousel__add-to-cart button button--secondary"
            js-ajax-cart="addToCart"
            data-variant-id="{{ current_variant.id }}"
            data-quantity="1"
          >
            <img
              class="product-carousel__adding"
              src="{{ 'loading.svg' | asset_url }}"
            >

            <span class="product-carousel__add-to-cart-text">
            {{ 'products.product.add_to_cart' | t }}
            </span>
          </button>

          {% if product.compare_at_price_min > 0 %}
            <span class="product-carousel__sale">{{ 'products.product.on_sale' | t }}</span>
          {% endif %}
        </div>

        <figcaption class="product-carousel__product-info">
          <a class="product-carousel__product-title" href="{{ product.url | within: collection }}">
            {{ product.title | escape }}
          </a>

          <div class="product-carousel__product-price">
            {{ product.price | money }}
          </div>
        </figcaption>
      </figure>
    {% endfor %}
  </div>

  <a href="{{ collection.url }}" class="button" >
    {{ 'collections.general.view_collection' | t }}
  </a>
</section>

{% schema %}
  {
    "name": "Featured collection",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Featured collection"
      },
      {
        "id": "collection",
        "type": "collection",
        "label": "Collection"
      }
    ],
    "presets": [
      {
        "name": "Featured collection",
        "category": "Collection"
      }
    ]
  }
{% endschema %}
